# SourceMod
compile.dat
compile.exe
spcomp.exe
compiled/*
include/admin.inc
include/adminmenu.inc
include/adt.inc
include/adt_array.inc
include/adt_stack.inc
include/adt_trie.inc
include/banning.inc
include/basecomm.inc
include/bitbuffer.inc
include/clientprefs.inc
include/clients.inc
include/commandfilters.inc
include/commandline.inc
include/console.inc
include/convars.inc
include/core.inc
include/cstrike.inc
include/datapack.inc
include/dbi.inc
include/entity.inc
include/entity_prop_stocks.inc
include/events.inc
include/files.inc
include/float.inc
include/functions.inc
include/geoip.inc
include/halflife.inc
include/handles.inc
include/helpers.inc
include/keyvalues.inc
include/lang.inc
include/logging.inc
include/mapchooser.inc
include/menus.inc
include/nextmap.inc
include/profiler.inc
include/protobuf.inc
include/regex.inc
include/sdkhooks.inc
include/sdktools.inc
include/sdktools_client.inc
include/sdktools_engine.inc
include/sdktools_entinput.inc
include/sdktools_entoutput.inc
include/sdktools_functions.inc
include/sdktools_gamerules.inc
include/sdktools_hooks.inc
include/sdktools_sound.inc
include/sdktools_stocks.inc
include/sdktools_stringtables.inc
include/sdktools_tempents.inc
include/sdktools_tempents_stocks.inc
include/sdktools_trace.inc
include/sdktools_voice.inc
include/smlib.inc
include/sorting.inc
include/sourcemod.inc
include/string.inc
include/testing.inc
include/textparse.inc
include/tf2.inc
include/tf2items.inc
include/tf2_stocks.inc
include/timers.inc
include/topmenus.inc
include/usermessages.inc
include/vector.inc
include/version.inc
include/version_auto.inc

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.dat
*.exe

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk